<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>Vue 指令优先级示例</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        p {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div id="app">
    <h2>1. v-text 覆盖插值</h2>
    <p v-text="textMessage">{{ interpolationMessage }}</p>

    <h2>2. v-html 覆盖插值</h2>
    <p v-html="htmlMessage">{{ interpolationMessage }}</p>

    <h2>3. v-text vs v-html 同时存在</h2>
    <p v-text="textMessage" v-html="htmlMessage">{{ interpolationMessage }}</p>

    <h2>4. 纯插值</h2>
    <p>{{ interpolationMessage }}</p>

    <p v-html="date"></p>
    <p v-html="time"></p>
    <p v-html="number"></p>
    <p v-html="color"></p>


    <input type="number" min="0" max="100" step="1" v-model="type"/>


    <div v-if="type >100">SB</div>
    <div v-else-if="type >90">A</div>
    <div v-else-if="type >80">B</div>
    <div v-else-if="type > 70">C</div>
    <div v-else-if="type > 60">D</div>
    <div v-else-if="type > 0">E</div>
    <div v-else>SB</div>
    <button v-on:click="add"></button>
</div>

<script>
    const app = Vue.createApp({
        data() {
            return {
                // textMessage: "這是 v-text 的內容",
                // htmlMessage: "<b>這是 v-html 的內容</b>",
                // interpolationMessage: "這是插值內容",
                // date:'<input type="date"/>',
                // time:'<input type="time"/>',
                // number:'<input type="number"/>',
                // color:'<input type="color"/>'
                type: 88
            }
            method:
            {

            }
        }
    }).mount('#app')
</script>
</body>
</html>
